<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/reset.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
  <title></title>
</head>

<body>

    <form th:action="@{/calendars}" th:object="${planForm}" method="post" class="form">
      <label for="date" class="label">日付を選択</label>
      <input type="date" id="date" th:field="*{date}" class="date-select"/>
      
      <label for="plan" class="label">予定を入力</label>
      <input type="text" id="plan" th:field="*{plan}" class="text-input"/>
      
      <button type="submit">保存</button>
    </form>
    
    <div class="calendar">
      <div th:each="day : ${weekDays}">
        <div class="item">
          <div class="date">
            <span th:text="'/'"></span>
          </div>
          <ul class="content">
            <li th:each="plan : ${day.plans}" class="plan-list">・<span th:text="${plan}"></span></li>
          </ul>
        </div>
      </div>
    </div>
</body>
</html>